
<!DOCTYPE html>
<html>
    <head>
        <title>All Communities</title>
    </head>
    <body>
        <h1>List of All Communities</h1>
        {% for community in communities %}
        <li>
            <a href="{% url 'community_home' community.name %}">{{community.name}}</a>
        </li>
        {% empty %}
        <tr>
            No communities found.
        </tr>
        {% endfor %}
        <br/>
        <a href="{% url 'create_community' %}">Create a Community</a> <br/>
        <a href="{% url 'home' %}">Back</a>
    </body>
</html>