<h1>Welcome to {{community.name}}</h1>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post">
  {% csrf_token %}
  {% if joined %}
  <button type="submit">Leave</button>
  {% else %}
  <button type="submit">Join Community</button>
  {% endif %}
</form>
<p>
  Member Count: {{community.member_count}}
</p>
<p>
  About: {{community.about}}
<p>

<h2>Posts:</h2>
{% if posts %}
<div class="post-list">
  {% for post in posts %}
  <div class="post-box">
    <a href="{% url 'post_detail' community_name=community.name post_id=post.post_id %}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content|truncatechars:100 }}</p>
      <small>Posted on: {{ post.creation_date }}</small>
    </a>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No posts yet in this community.</p>
{% endif %}

<a href="{% url 'create_post' community_name=community.name %}">Create Post</a>
</p>

<a href="{% url 'community_list' %}">See All Communities</a>

<style>
  .post-list {
    margin-top: 20px;
  }

  .post-box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  .post-box a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .post-box h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .post-box p {
    margin-bottom: 5px;
  }

  .post-box small {
    color: #777;
  }
</style>