<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Group34 Project Name</h1>
{% if user.is_authenticated %}
Hi {{ user.username }}! <a href="{% url 'profile' %}">View Profile</a>
<br/>
<a href="{% url 'community_list' %}">View communities</a>
<br/>
<a href="">Create a community</a>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<p>Don't have an account?</p>
<a href="{% url 'signup' %}">Sign up here</a>
{% endif %}
{% endblock %}